@import "~@drewbot/sass-flexbox-grid/public/sass-flexbox/scss/variables/main";
@import "~@drewbot/sass-flexbox-grid/public/sass-flexbox/scss/mixins/main";

%row {
   @include row();
   @include middle();
   @include around();
 }

%col3 {
  @include col("xs",3);
}

%image {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}