@import "../../../theme/colors";

// Example usage
.custom-button {
  background-color: custom-color('primary');

  &:hover {
    background-color: custom-color('primary', 'light');
  }

  &.secondary {
    background-color: custom-color('secondary');

    &:hover {
      background-color: custom-color('secondary', 'dark');
    }
  }

  &.transparent {
    background-color: custom-color('primary', $opacity: 'light');
  }
}