@import "../../../theme/colors";

// Example usage
.custom-anchor {
  color: custom-color('primary');

  &.secondary {
    color: custom-color('secondary');
  }

  &.transparent {
    color: custom-color('primary', $opacity: 'light');
  }
}