@import "../../theme/grid-base/placeholder";

.main-layout{
  .custom-ac-heading-container{
    @extend %row;
  }
  .custom-ac-heading{
    @include col('xs',12);
    padding: 0;
  }
  .custom-main-container {
    @extend %row;
    padding: $gutter;
    background-color: black;
    margin-top:$gutter;
    .custom-main-content {
        @include col(12);
        color: white;
        text-align: center;
    }
  }
  .custom-news-container {
    @extend %row;
    padding: $gutter;
    background-color: lightpink;
    margin-top:$gutter;
    .custom-first-news {
      max-width: 23%;
      flex-basis: 23%;
      @include col("xs", 12);
      @include col("sm", 6);
      @include col("md", 3);
      background-color: lavenderblush;
    }
    .custom-second-news {
      max-width: 23%;
      flex-basis: 23%;
      @include col("xs", 12);
      @include col("sm", 6);
      @include col("md", 3);
      background-color: lightgray;
    }
    .custom-third-news {
      max-width: 23%;
      flex-basis: 23%;
      @include col("xs", 12);
      @include col("sm", 6);
      @include col("md", 3);
      background-color: lavenderblush;
    }
    .custom-fourth-news {
      max-width: 23%;
      flex-basis: 23%;
      @include col("xs", 12);
      @include col("sm", 6);
      @include col("md", 3);
      background-color: lightgray;
    }
  }
  .custom-article-container {
    @extend %row;
    background-color: darkgray;
    padding: $gutter;
    margin-top:$gutter;
    .custom-article-content {
      @include col(12);
      @include col("sm", 6);
      //@include col("md", 6);
    }
    .custom-article-image {
      @include col(12);
      @include col("sm", 6);
      //@include col("md", 6);
      .custom-image{
        width: 100%;
        height: 100%;
      }
    }
  }

  .ac-container label{
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 20px;
    display: block;
    height: 100%;
    color: #777;
    line-height: 33px;
    background: #ffffff;
  }
  .ac-content{
    background: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    height: 0px;
    width: 100%;
  }
  .ac-container input{
    display: none;
  }
  .ac-container input:checked ~ .ac-content.ac-small{
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }
}
